<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/empleados/add" method="post">
            <div class="form-group">

              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  name="id"
                  id="id"
                  placeholder="id"
                  autofocus
                />
                <label for="floatingInput">Cedula</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="nombreEmpleado"
                  id="nombreEmpleado"
                  placeholder="Nombre"
                />
                <label for="floatingInput">Nombre</label>
              </div>
              
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="apellidoEmpleado"
                  id="apellidoEmpleado"
                  placeholder="Apellido"
                />
                <label for="floatingInput">Apellido</label>
              </div>

              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  name="proceso"
                  id="proceso"
                  aria-label="Proceso"
                >
                  {{#each proceso}}
                    <option value="{{nombreProceso}}">{{nombreProceso}}</option>
                  {{/each}}
                </select>
                <label for="floatingSelect">Proceso</label>
              </div>

              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  name="lider"
                  id="lider"
                  aria-label="Lider"
                >
                  {{#each lider}}
                    <option value="{{nombreLider}}">{{nombreLider}}</option>
                  {{/each}}
                </select>
                <label for="floatingSelect">Lider</label>
              </div>

              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  name="centroCosto"
                  id="centroCosto"
                  aria-label="centroCosto"
                >
                  {{#each ccostos}}
                    <option value="{{centroCosto}}">{{centroCosto}}</option>
                  {{/each}}
                </select>
                <label for="floatingSelect">Centro de Costos</label>
              </div>

              <div class="form-floating mb-2 d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success">Guardar</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>