<div class="container p-4">
  <div class="row">

    {{#each empleados}}
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title text-uppercase">
              {{nombreEmpleado}}
            </h3>
            <h4 class="card-text">
              {{apellidoEmpleado}}
            </h4>
            <h4 class="card-text">
              {{proceso}}
            </h4>
            <h4 class="card-text">
              {{lider}}
            </h4>
            <h4 class="card-text">
              {{centroCosto}}
            </h4>
            <a href="/empleados/delete/{{id}}" class="btn btn-danger">Eliminar Empleado</a>
            <a href="/empleados/edit/{{id}}" class="btn btn-secondary">Editar  Empleado</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay empleados registrados</p>
          <a href="/empleados/add">Registrar Uno!</a>
        </div>
      </div>
    {{/each}}

  </div>
</div>