<div class="container p-4">
  <div class="row">
      <table class="table" border="1" width="100%">
        <caption align="top"><h3>Listado De Empleados</h3></caption>
        
          <tbody>
            <tr>
              <th>NOMBRES</th>
              <th>APELLIDOS</th>
              <th>DOCUMENTO</th>
              <th>PROCESO</th>
              <th>LIDER</th>
              <th>CENTRO DE COSTO</th>
              <th>ACCIONES</th>
            </tr>
            <tr>
              {{#each empleados}}
              <td>{{nombreEmpleado}}</td>
              <td>{{apellidoEmpleado}}</td>
              <td>{{id}}</td>
              <td>{{proceso}}</td>
              <td>{{lider}}</td>
              <td>{{centroCosto}}</td>
              <td>
                <a href="/empleados/delete/{{id}}" class="btn btn-danger"><i
                    class="fa-solid fa-trash-can"
                  ></i></a>
                <a href="/empleados/edit/{{id}}" class="btn btn-secondary"><i
                    class="fa-solid fa-pencil"
                  ></i></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
      </table>
    </center>
    
    {{#if empleados}}
    {{else if}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay empleados registrados</p>
          <a href="/empleados/add">Registrar Uno!</a>
        </div>
      </div>
    {{/if}}
  </div>
</div>